@import "../../../../styles/main.scss";
//--------------------------------------
// Variables
//--------------------------------------
$bg : "../Images/texture.png";
$mask : "../Images/mask.svg";
$size : 256px;

//--------------------------------------
// Classes
//--------------------------------------
.diceRoller{
	position: absolute;
	z-index: 10;
	opacity: 1;
	pointer-events: none;
}

//--------------------------------------
// Mixins
//--------------------------------------